$md-gray: (
  50: #edeff1,
  100: #d0d8dc,
  200: #b1bec5,
  300: #91a4ae,
  400: #79909c,
  500: #627d8b,
  600: #556e7a,
  700: #465a64,
  800: #38474f,
  900: #273238,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #cfd8dc,
  ),
);

$md-blue: (
  50: #e2f5fe,
  100: #b4e6fd,
  200: #84d6fb,
  300: #54c6f8,
  400: #32b9f8,
  500: #1aadf6,
  600: #189fe7,
  700: #148bd3,
  800: #127abf,
  900: #0d5a9d,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$md-accent: (
  50: #e2f5fe,
  100: #b4e6fd,
  200: #84d6fb,
  300: #54c6f8,
  400: #32b9f8,
  500: #1aadf6,
  600: #189fe7,
  700: #148bd3,
  800: #127abf,
  900: #1aadf6,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$md-orange: (
  50: #fffde7,
  100: #fff9c4,
  200: #fef075,
  300: #fef075,
  400: #fceb55,
  500: #fae635,
  600: #fdd835,
  700: #fbc02d,
  800: #f9a825,
  900: #f57f17,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
